# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore checkpoints
*.ckpt

# Ignore txt files
*.txt

# ignore yaml files
*.yaml

# Ignore log files
*.log

#ignore pickle files
*.pkl

#ignore xml files
*.xml

#ignore hdf5 files
*.h5

#ignore csv files in data folder
*.csv

#ignore iml files
*.iml

# Ignore results and data folders
Classification/results/
data/final/
examples/
models/
plots/
others/data/
Preprocess/downsampled_data_*.csv
Preprocess/downsampled_unseen/
tutorials/*.png
tutorials/*.pdf

# Ignore environment folders
.venv_cnc/
