# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore checkpoints
*.ckpt

# Ignore txt files
*.txt
# ignore csv files
*.csv
#ignore json files
*.json
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ignore yaml files
*.yaml

# Ignore log files
*.log

#ignore pickle files
*.pkl

#ignore xml files
*.xml

#ignore hdf5 files
*.h5

#ignore csv files in data folder
*.csv

# Ignore results and data folders
Classification/results/
data/final/
examples/
models/
plots/
others/data/
Preprocess/downsampled_data_*.csv
Preprocess/downsampled_unseen/
tutorials/*.png
tutorials/*.pdf

# Ignore environment folders
.venv_cnc/
